* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: #eee;
    /* padding: 0 16px; */
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  header {
    background-color: #f5ba13;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 16px 32px;
    /* margin: auto -16px; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }



  header h1 {
    color: white;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  .user-img {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 40px;
    top: 10px;
    border: solid white 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  .container {
    z-index: 99;
    position: absolute;
    right: 10px;
    top: 75px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5px;
  }
  .user-btn {
    width: 200px;
    height: 40px;
    background-color: rgb(245, 241, 241);
    border: solid rgb(221, 221, 221);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .user-btn:hover {
    background-color: #f5ba13;
    border-color: black;
  }
  p {
    font-size: 1.2em;
    position: relative;
    top: 20%;
  }
  .icon-btn {
    position: relative;
    top: 18%;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 26px;
    width: 100%;
    height: 2.2rem;
  }
  footer p {
    color: #ccc;
  }
  .note {
    width: 240px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 10px;
    margin: 16px;
    border-radius: 5px;
    float: left;
  }
  .note h1 {
    font-size: 1.15em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note button {
    border: none;
    color: #f5ba13;
    position: relative;
    margin-right: 10px;
    left: 5%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    float: right;
    border-radius: 5px;
  }
  .note .note-del-btn:hover {
    background-color: rgba(167, 6, 6, 0.705);
  }
  .note .note-ed-btn:hover {
    background-color: rgba(107, 104, 104, 0.705);
  }
  .note .note-del-btn:active {
    background-color: rgba(167, 6, 6, 0.705);
  }
  .note .note-ed-btn:active {
    background-color: rgba(107, 104, 104, 0.705);
  }
  
  .create-note {
    position: relative;
    width: 480px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 15px;
    margin: 30px auto 20px auto;
    border-radius: 5px;
  }
  .create-note input,
  .create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 1.2em;
  }
  .create-note button {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #f5ba13;
    border: none;
    position: absolute;
    right: 18px;
    bottom: -18px;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
  }
  .over-lay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(68, 61, 56, 0.548);
  }
  
  .over-lay .edit-window {
    background-color: #ca9b18;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    width: 44%;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 27%;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .over-lay .edit-window .edit-note {
    bottom: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 75%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 15px;
    margin: 60px auto 20px auto;
    border-radius: 5px;
    text-align: center;
  }
  .over-lay .edit-window .edit-note input,
  .over-lay .edit-window .edit-note textarea {
    width: 80%;
    border: none;
    padding: 4px;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 1.2em;
  }
  .over-lay .edit-window .edit-btn {
    top: -5%;
    width: 15%;
    height: 10%;
    position: relative;
    left: 60%;
    border: rgb(0, 0, 0) solid 1px;
    cursor: pointer;  
  }
  .over-lay .edit-window .edit:hover {
    background-color: #034706b7;
  }
  .over-lay .edit-window .close:hover {
    background-color: rgba(148, 18, 18, 0.582);
  }
  .over-lay .edit-window .edit:active {
    background-color: #034706b7;
  }
  .over-lay .edit-window .close:active {
    background-color: rgba(148, 18, 18, 0.582);
  }
  
  .over-lay .edit-window h1 {
    color: white;
    position: relative;
    left: 10%;
    top: 10%;
  }
  


  @media screen and (min-width: 601px) and (max-width: 800px) {
    /* header{
      margin: auto -30px;
    } */
    .container{
      top: 69px;
      right: 2px;
    }
    .user-img{
      width: 55px;
      height: 55px;
      right: 15px;
    }
    .user-btn{
      width: 170px;
      height: 30px;
    }
    p{
      font-size: 1.1em;
    }
    .icon-btn{
      top: 5%;
    }
    .create-note{
      width: 450px;
      padding: 13px;
    }
    .create-note .add-btn{
      width: 35px;
      height: 35px;
    }
    .create-note .add{
      font-size: 1.6em;
    }

    .note{
      width: 220px;
      padding: 8px;
    }
    .note .note-icon{
      font-size: 1.7em;
    }
    .note button {
      width: 33px;
      height: 33px;
    }
    .over-lay .edit-window{
      height: 300px;
    }
    .over-lay .edit-window h1{
      font-size: 1.6em;
    }
    .over-lay .edit-window .edit-note input,
    .over-lay .edit-window .edit-note textarea{
      font-size: 1em;
    }
    .over-lay .edit-window .edit-btn .icon{
      font-size: 1.7em;
    }


    footer{
      font-size: 0.9em;
    }
  
  }

  @media screen and (min-width: 401px) and (max-width: 600px){
    /* header{
      margin: auto -50px;
    } */
    header h1{
      position: relative;
      left: 30px;
      font-size: 1.9em;
    }
    .user-img{
      width: 50px;
      height: 50px;
      right: 24px;
      top: 0px;
    }
    .user-btn{
      width: 140px;
      height: 27px;
    }
    p{
      font-size: 1em;
    }
    .container .icon-btn{
      font-size: 1.5em;
      top: -1%;
      
    }
    .container{
      top: 53px;
      right: 13px;
    }


    .create-note{
      width: 350px;
      padding: 5px;
    }
    .create-note input, .create-note textarea{
      padding-left: 15px;
      padding-top: 10px;
      font-size: 1.05em;
    }

    .create-note .add-btn{
      width: 30px;
      height: 30px;
    }
    .create-note .add{
      font-size: 1.4em;
    }

    .note{
      width: 200px;
      padding: 4px;
    }
    .note h1{
      margin-top: 10px;
      margin-left: 10px ;
      font-size: 1.05em;
    }
    .note p{
      margin-left: 10px;
      font: 1em;

    }

    .note .note-icon{
      font-size: 1.4em;
    }
    .note button {
      width: 30px;
      height: 30px;
    }

    footer{
      bottom: 0px;
    }

    /* .over-lay .edit-window{
      width: 38%;
      height: 47%;
    } */

    .over-lay .edit-window h1{
      font-size: 1.3em;
    }

    .over-lay .edit-window .edit-note input,
  .over-lay .edit-window .edit-note textarea{
    padding: 2px;
    font-size: 1em;
  }


    .over-lay .edit-window{
      width: 52%;
      height: 260px;
    }
    .over-lay .edit-window .edit-btn .icon{
      font-size: 1.5em;
    }

  }

  @media screen and (min-width: 301px) and (max-width: 400px) {
    /* header{
      width: 480px;
      width: 350px;
      margin: auto -50px;
    } */
    header h1{
      position: relative;
      left: -10px;
      font-size: 1.5em;
    }
    .user-img{
      right: -15px;
      top: -15%;
      width: 45px;
      height: 45px;
    }
    .container{
      right: -35px;
      top: 43px;
    }
    .user-btn{
      width: 120px;
      height: 20px;
    }
    p{
      font-size: 0.8em;
      top: 5%;
    }
    .container .icon-btn{
      font-size: 1rem;
      top: 2%;
    }
    .create-note{
      width: 250px;
      /* left: 1%; */
    }
    .create-note input, .create-note textarea{
      padding-left: 4px;
      padding-top: 0px;
      font-size: 1em;
    }
    .create-note .add-btn{
      width: 25px;
      height: 25px;
    }
    .create-note .add{
      font-size: 1.3em;
    }

    .note{
      width: 160px;
      
    }
    .note h1{
      font-size: 1em;
    }
    .note p{
      font-size: 0.95em;
    }
    .note .note-icon{
      font-size: 1.25em;
    }
    .note button {
      width: 28px;
      height: 28px;
  
    }

    
    .icon-btn{
      top: -23%;
    }
    footer{
      bottom: -140px;
    }

 

    .over-lay .edit-window h1{
      font-size: 1.2em;
    }
    .over-lay .edit-window .edit-note {
      height: 40%;
    }

    .over-lay .edit-window .edit-note input,
    .over-lay .edit-window .edit-note textarea{
      padding: 1px;
      font-size: 0.8em;
    }
    .over-lay .edit-window{
      left: 20%;
      top: 18%;
      width: 58%;
      height: 210px;
    }
    .over-lay .edit-window .edit-btn .icon{
      font-size: 1.3em;
    }
  }

  @media screen and (max-width: 300px) {
    header h1{
      position: relative;
      left: -20px;
      font-size: 1.2em;
    }
    .user-img{
      right: -38px;
      top: -15%;
      width: 40px;
      height: 40px;
    }
    .container{
      right: -45px;
      top: 43px;
    }
    .user-btn{
      width: 120px;
      height: 15px;
    }
    p{
      font-size: 0.8em;
      top: -5%;
    }
    .container .icon-btn{
      font-size: 0.9rem;
    }
    .create-note{
      width: 160px;
      /* left: 1%; */
    }
    .create-note input, .create-note textarea{
      padding-left: 2px;
      padding-top: 0px;
      font-size: 0.85em;
    }
       .create-note .add-btn{
      width: 20px;
      height: 20px;
    }
    .create-note .add{
      font-size: 1.1em;
    }

    .note{
      width: 150px;
      
    }
    .note h1{
      font-size: 0.8em;
    }
    .note p{
      font-size: 0.95em;
    }
    
    .icon-btn{
      top: -23%;
    }
    footer{
      bottom: -140px;
    }

    .note .note-icon{
      font-size: 1.3em;
    }
    .note button {
      width: 25px;
      height: 25px;
    }

    .over-lay .edit-window h1{
      font-size: 0.9em;
    }
    .over-lay .edit-window .edit-note {
      margin: 35px auto 15px auto;
      padding: 6px;
      height: 40%;
    }
    .over-lay .edit-window .edit-note input,
    .over-lay .edit-window .edit-note textarea{
      padding: 0px;
      font-size: 0.7em;
    }

    .over-lay .edit-window{
      left: 20%;
      top: 18%;
      width: 60%;
      height: 130px;
    }
    .over-lay .edit-window .edit-btn .icon{
      font-size: 1em;
    }

  }

  
  

  


