* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: #eee;
    padding: 0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  header {
    background-color: #f5ba13;
    padding: 16px 32px;
    margin: auto -16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  header h1 {
    color: white;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  .user-img {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 40px;
    top: 10px;
    border: solid white 2px;
    border-radius: 50%;
    cursor: pointer;
  }
  .container {
    position: absolute;
    right: 10px;
    top: 75px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: grid;
    grid-template-row: 1fr 1fr 1fr;
    grid-row-gap: 5px;
  }
  .user-btn {
    width: 200px;
    height: 40px;
    background-color: rgb(245, 241, 241);
    border: solid rgb(221, 221, 221);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .user-btn:hover {
    background-color: #f5ba13;
    border-color: black;
  }
  p {
    font-size: 1.2em;
    position: relative;
    top: 20%;
  }
  .icon {
    position: relative;
    top: 18%;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    height: 2.2rem;
  }
  footer p {
    color: #ccc;
  }
  .note {
    width: 240px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 10px;
    margin: 16px;
    border-radius: 5px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note button {
    border: none;
    color: #f5ba13;
    position: relative;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    float: right;
    border-radius: 5px;
  }
  .note button:hover {
    background-color: #946f0825;
  }
  
  .create-note {
    position: relative;
    width: 480px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 15px;
    margin: 30px auto 20px auto;
    border-radius: 5px;
  }
  .create-note input,
  .create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 1.2em;
  }
  .create-note button {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #f5ba13;
    border: none;
    position: absolute;
    right: 18px;
    bottom: -18px;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
  }
  .over-lay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(68, 61, 56, 0.548);
  }
  
  .over-lay .edit-window {
    background-color: #ca9b18;
    width: 600px;
    height: 340px;
    position: absolute;
    top: 15%;
    left: 27%;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .over-lay .edit-window .edit-note {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 480px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    padding: 15px;
    margin: 60px auto 20px auto;
    border-radius: 5px;
    text-align: center;
  }
  .over-lay .edit-window .edit-note input,
  .over-lay .edit-window .edit-note textarea {
    width: 80%;
    border: none;
    padding: 4px;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 1.2em;
  }
  .over-lay .edit-window .edit-btn {
    width: 80px;
    height: 40px;
    position: relative;
    left: 63%;
    border: rgb(0, 0, 0) solid 1px;
  }
  .over-lay .edit-window .edit:hover {
    background-color: #ca9b18;
  }
  .over-lay .edit-window .close:hover {
    background-color: rgb(148, 18, 18);
  }
  
  .over-lay .edit-window h1 {
    color: white;
    position: relative;
    left: 60px;
    top: 30px;
  }
  